.showCase{
    margin-top: -5rem;
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mechusLogo {
    width: 7rem;
    margin-left: 1rem;
}
.enroll-btn {
    background-color: rgb(2, 15, 126);
    position: absolute;
    right: 36.5%;
    color: white;
    border-style: none;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .board {
      display: none;
    }

    .carouselInner {
        z-index: 500;
    }

    

}

@media screen and (min-width: 768px) {
    .mechusCarousel {
      display: none;
    }

    .enroll-btn {
        display: none;
    }
}

